.DS_Store
*.env

# Textbooks
Textbooks/*

# Latex Files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.run.xml
*.synctex.gz
*.nav
*.snm
*.*-SAVE-ERROR
*.listing
*.vrb

# Raw data that is too big
Projects/Cross_Sectional/raw-data/movies/movie_data.csv
00-Review_Probability_and_Statistics/.Rapp.history
